
.wheel img{
    width: 40px;
    height: 40px;
   
}

.wheel{
    box-sizing: border-box;
    background-color: #2f2f2f;
    width:300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 50%;
    padding: 30px;
    box-shadow: inset 0 0 50px 10px #111111;
}
.middle-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(112, 110, 113, 1);
    box-shadow:  0 0 60px 10px #111111;
    
}
.center-btn:hover{
    background-color: rgba(112, 110, 113, 0.5);
    cursor: pointer;
}