.App{
  box-sizing: border-box;
  margin:20px auto;
  border: 1px solid black;
  width:400px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #706e71;
  box-shadow: inset 0 0 20px 10px rgb(17, 16, 16);
  
}

@media all and (max-width:400px){
  .App{
    width:360px;
   
  }
}